<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生信息管理系统</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="app">
        <el-container>
            <el-aside width="200px">
                <el-menu
                    default-active="1"
                    class="el-menu-vertical-demo"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                    <el-menu-item index="1" @click="window.location.href='/'">
                        <i class="el-icon-user"></i>
                        <span slot="title">学生管理</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="window.location.href='/teacher.html'">
                        <i class="el-icon-s-custom"></i>
                        <span slot="title">教师管理</span>
                    </el-menu-item>
                    <el-menu-item index="3" @click="window.location.href='/course.html'">
                        <i class="el-icon-reading"></i>
                        <span slot="title">课程管理</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-container>
                <el-header>
                    <h2>学生信息列表</h2>
                </el-header>
                <el-main>
                    <el-row type="flex" justify="space-between" align="middle" :gutter="20">
                        <el-col :span="16">
                            <el-form :inline="true" :model="searchForm" class="search-form">
                                <el-form-item label="学号">
                                    <el-input v-model="searchForm.Sno" placeholder="请输入学号"></el-input>
                                </el-form-item>
                                <el-form-item label="姓名">
                                    <el-input v-model="searchForm.Sname" placeholder="请输入姓名"></el-input>
                                </el-form-item>
                                <el-form-item label="院系">
                                    <el-input v-model="searchForm.Dno" placeholder="请输入院系"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="handleSearch">查询</el-button>
                                    <el-button @click="resetSearch">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                        <el-col :span="8" style="text-align: right;">
                            <el-button type="primary" @click="showAddDialog">添加学生</el-button>
                        </el-col>
                    </el-row>
                    <el-table :data="students" style="width: 100%">
                        <el-table-column prop="Sno" label="编号"></el-table-column>
                        <el-table-column prop="Sname" label="姓名"></el-table-column>
                        <el-table-column prop="Ssex" label="性别"></el-table-column>
                        <el-table-column prop="Sage" label="年龄"></el-table-column>
                        <el-table-column prop="Dno" label="所属院系"></el-table-column>
                        <el-table-column prop="Sclass" label="班级"></el-table-column>
                        <el-table-column prop="address" label="家庭住址"></el-table-column>
                        <el-table-column label="操作" width="180">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleEdit(scope.row)">修改</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                    <!-- 添加/编辑对话框 -->
                    <el-dialog :title="dialogTitle" :visible.sync="dialogVisible">
                        <el-form :model="form" :rules="rules" ref="form" label-width="100px">
                            <el-form-item label="学号" prop="Sno">
                                <el-input v-model="form.Sno" :disabled="isEdit"></el-input>
                            </el-form-item>
                            <el-form-item label="姓名" prop="Sname">
                                <el-input v-model="form.Sname"></el-input>
                            </el-form-item>
                            <el-form-item label="性别" prop="Ssex">
                                <el-select v-model="form.Ssex">
                                    <el-option label="男" value="男"></el-option>
                                    <el-option label="女" value="女"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="年龄" prop="Sage">
                                <el-input-number v-model="form.Sage"></el-input-number>
                            </el-form-item>
                            <el-form-item label="所属院系" prop="Dno">
                                <el-input v-model="form.Dno"></el-input>
                            </el-form-item>
                            <el-form-item label="班级" prop="Sclass">
                                <el-input v-model="form.Sclass"></el-input>
                            </el-form-item>
                            <el-form-item label="家庭住址" prop="address">
                                <el-input v-model="form.address"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="submitForm">确 定</el-button>
                        </div>
                    </el-dialog>
                </el-main>
            </el-container>
        </el-container>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html> 